name: Connect to SSH UNLIMIT TIME with tmux

on:
  workflow_dispatch:

jobs:
  ssh-connect:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Remove locks if exist
      run: |
        sudo rm -f /var/lib/dpkg/lock-frontend
        sudo rm -f /var/lib/dpkg/lock
        sudo dpkg --configure -a

    - name: Install sshpass and tmux
      run: |
        sudo apt-get update -y
        sudo apt-get install -y sshpass tmux

    - name: Run SSH Connection Script in tmux
      run: |
        sudo tmux new-session -d -s ssh-session "bash connect_ssh.sh"
